*{
    font-family: 'Times New Roman', Times, serif;
    
}

html{
    scroll-behavior: smooth;
}

.box {
    background-image: linear-gradient(to right, grey , black);
    
}
 h2 {
    background-color: black;
    color: white;
  }
  span {
    background-color: rgba(255,255,255,.5);
  }

h1{
    /*lines up the name and the links together*/
    display:inline;
    padding-right: 400px;
    color: black;
    

}

section a {
    /*had space for links*/
    flex-wrap: wrap;
    padding: 15px;
    color: white;
    text-align:right;
    padding-top: 200px;
}

h2{
    margin-top: 40px;
}

.Fircontainer{
    position:relative;
    width: 50%;
    
}

.Fircontainer img{
    width: 450px;
    height: auto;
    
}
.Fircontainer .btn {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: grey;
    color: black;
    font-size: 16px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border:(line,black);
    
}

.container {
    position: relative;
    width: 50%;
    
}
.container img {
    width: 50%;
    height: auto;

}
/*button hover tag and style*/
.container .btn {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: grey;
    color: black;
    font-size: 16px;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border:(line,black);
    
}
    
/*image hover tag*/
.container:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.Fircontainer:hover {
    transform: scale(0.95);
    cursor: pointer;
}


body {
    height: 100%;        
    background: linear-gradient(90deg, white, grey);
}

article a{
    color:black;
    
}

